.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#accordion {
  width: auto;
}
.panel-group.core {
  display: inline-block;
}
#main {
  margin: 0 auto;
}
#main .jumbotron {
  height: 25em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
}
@media only screen and (min-width : 480px) and (max-width : 768px) {
  #main .jumbotron {
    height: 16em;
  }
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
  #main .jumbotron {
    height: 10em;
  }
}
#main .d {
  margin: 0 15%;
}
@media only screen and (min-width : 480px) and (max-width : 768px) {
  #main .d {
    margin: 0 5%;
  }
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
  #main .d {
    margin: 0 0;
  }
}
