.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#main {
  margin: 0;
  width: 100%;
}
.background-img {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
header {
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease;
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity 300ms ease;
  -ms-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
}
header.show {
  opacity: 1 ;
  pointer-events: auto;
}
header.show .container {
  opacity: 1;
}
header .container {
  opacity: 0;
  transition: opacity 550ms ease-in;
  -webkit-transition: opacity 550ms ease-in;
  -moz-transition: opacity 550ms ease-in;
  -ms-transition: opacity 550ms ease-in;
  -o-transition: opacity 550ms ease-in;
}
#landing-wrapper {
  position: relative;
  height: 800px;
  width: 100%;
  display: block;
}
#landing-wrapper .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#landing-wrapper #content-landing {
  -webkit-animation: fade-in 2000ms 0 ease-in 1 normal;
  -moz-animation: fade-in 2000ms 0 ease-in 1 normal;
  -ms-animation: fade-in 2000ms 0 ease-in 1 normal;
  animation: fade-in 2000ms 0 ease-in 1 normal;
}
#landing-wrapper #content-landing .top {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  height: 60%;
  width: 100%;
}
#landing-wrapper #content-landing .top img {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 0px 136px 85px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0px 0px 136px 85px rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 136px 85px rgba(255, 255, 255, 0.7);
}
#landing-wrapper #content-landing .row {
  margin: 0;
}
#landing-wrapper #content-landing .info {
  position: absolute;
  bottom: 0;
  top: 60%;
  display: block;
  width: 100%;
  padding: 1em 3em;
  background-color: rgba(59, 66, 107, 0.8);
  color: white;
}
#landing-wrapper #content-landing .info a {
  color: white;
}
#landing-wrapper #content-landing .info .land-line {
  background-color: white;
}
#landing-wrapper #content-landing .chevron-down {
  margin: 0 auto;
  position: relative;
  width: 100%;
  color: white;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-animation: blink 1800ms 0 ease infinite alternate;
  -moz-animation: blink 1800ms 0 ease infinite alternate;
  -ms-animation: blink 1800ms 0 ease infinite alternate;
  animation: blink 1800ms 0 ease infinite alternate;
}
#landing-wrapper #content-landing .chevron-down img {
  cursor: pointer;
  margin: 0 auto;
  width: 3em;
}
/** si acaso usa esta parte para dar colores especificos
  **********************************/
