.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#main {
  margin: 0;
  width: 100%;
}
header {
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease;
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity 300ms ease;
  -ms-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
}
header.show {
  opacity: 1 ;
  pointer-events: auto;
}
header.show .container {
  opacity: 1;
}
header .container {
  opacity: 0;
  transition: opacity 550ms ease-in;
  -webkit-transition: opacity 550ms ease-in;
  -moz-transition: opacity 550ms ease-in;
  -ms-transition: opacity 550ms ease-in;
  -o-transition: opacity 550ms ease-in;
}
#landing-wrapper {
  height: 800px;
  width: 100%;
  display: block;
  background-color: white;
  color: #382e72;
}
#landing-wrapper .background {
  margin: 4em 3em;
  position: relative;
}
#landing-wrapper .info {
  position: absolute;
  display: block;
  margin-top: 35%;
  width: 100%;
}
#landing-wrapper .chevron-down {
  margin: 0 auto;
  position: relative;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-animation: blink 500ms 300ms 0 ease;
  -moz-animation: blink 500ms 300ms 0 ease;
  -ms-animation: blink 500ms 300ms 0 ease;
}
#landing-wrapper .chevron-down img {
  margin: 0 auto;
  width: 4em;
}
#accordion {
  background-color: red;
  width: 100%;
}
#accordion .panel .panel-heading {
  border: none;
}
#accordion .panel .panel-title {
  font-size: 1.8em;
  text-align: center;
  color: #382e72;
}
#accordion .panel .panel-title a {
  text-align: center;
  margin: 0 auto;
  width: 30%;
  display: relative;
}
#accordion .panel .panel-title a:hover {
  color: green;
}
#accordion .panel .panel-body {
  padding: 3em 2em;
  border: none;
  margin: 0 auto;
  width: 70%;
  max-width: 800px;
  color: #382e72;
}
#accordion .panel .panel-collapse {
  background-color: #f7f7f7;
}
