.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  padding: 20% 0px 0px 0px;
}
.contacto-title {
  padding-top: 20px;
  font-family: 'Josefin Sans', sans-serif;
}
.content {
  font-family: 'Josefin Slab', serif;
}
.content p {
  margin-left: 3%;
  margin-top: 20px;
}
.land-line {
  height: 2px;
  background-color: #1a1a1a;
}
/*
  _______  _______ .__   __.  _______ .______          ___       __      
 /  _____||   ____||  \ |  | |   ____||   _  \        /   \     |  |     
|  |  __  |  |__   |   \|  | |  |__   |  |_)  |      /  ^  \    |  |     
|  | |_ | |   __|  |  . `  | |   __|  |      /      /  /_\  \   |  |     
|  |__| | |  |____ |  |\   | |  |____ |  |\  \----./  _____  \  |  `----.
 \______| |_______||__| \__| |_______|| _| `._____/__/     \__\ |_______|
                                                                         
*/
* {
  margin: 0;
  padding: 0;
}
/*
font-family: 'Josefin Slab', serif;
font-family: 'Alegreya Sans', sans-serif;
*/
body {
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 18px;
  position: relative;
  min-height: 100%;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
}
#main {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 3em !important;
}
a {
  text-decoration: none;
}
a:hover {
  color: gray;
}
/*Esta parte es del header nadamas
 __ __    ___   ____  ___      ___  ____  
|  |  |  /  _] /    ||   \    /  _]|    \ 
|  |  | /  [_ |  o  ||    \  /  [_ |  D  )
|  _  ||    _]|     ||  D  ||    _]|    / 
|  |  ||   [_ |  _  ||     ||   [_ |    \ 
|  |  ||     ||  |  ||     ||     ||  .  \
|__|__||_____||__|__||_____||_____||__|\_|
                                          
*/
header {
  font-family: 'Josefin Slab', serif;
  font-size: 18px;
  background-color: white !important;
  color: #3b426b;
  margin-bottom: 0 !important;
}
.als {
  font-family: 'Josefin Sans', sans-serif;
}
.Al {
  font-weight: 900;
  font-size: 40px;
  font-style: italic;
  color: #d1d1d1;
}
.brand {
  position: relative;
}
.Smith {
  position: relative;
  font-weight: 900;
  font-size: 25px;
  top: -6px;
  margin-left: -37px;
  padding-bottom: -11px;
  color: #382e72;
}
.associados {
  position: relative;
  margin-left: -35px;
  font-weight: 400;
  font-size: 8px;
  font-style: italic;
  color: #b4b4b4;
}
@media (max-width: 768px) {
  #side-nav {
    /*position: fixed;*/
  }
}
.contacto-body {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.985);
  height: auto;
  left: 0;
  margin-top: -10px;
  top: 93px;
  border-bottom: 1px solid whitesmoke;
}
@media (min-width: 768px) {
  header {
    height: 83px;
  }
  #nav-links {
    margin: 40px 0px 0px 0px;
  }
  .brand {
    background-position: 50% 50%;
    width: 259px;
    height: 110px;
    top: -13px;
    position: relative;
    -ms-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
  }
  .navbar-brand {
    opacity: 0;
  }
}
/*Contacto
                  _             _        
                 | |           | |       
   ___ ___  _ __ | |_ __ _  ___| |_ ___  
  / __/ _ \| '_ \| __/ _` |/ __| __/ _ \ 
 | (_| (_) | | | | || (_| | (__| || (_) |
  \___\___/|_| |_|\__\__,_|\___|\__\___/ 
                                         
                                         
*/
/*esta parte es del cuerpo

$$\      $$\           $$\           
$$$\    $$$ |          \__|          
$$$$\  $$$$ | $$$$$$\  $$\ $$$$$$$\  
$$\$$\$$ $$ | \____$$\ $$ |$$  __$$\ 
$$ \$$$  $$ | $$$$$$$ |$$ |$$ |  $$ |
$$ |\$  /$$ |$$  __$$ |$$ |$$ |  $$ |
$$ | \_/ $$ |\$$$$$$$ |$$ |$$ |  $$ |
\__|     \__| \_______|\__|\__|  \__|
                                     
                                     


*/
.panel-group {
  width: 100%;
}
.panel-group .panel {
  box-shadow: none;
}
.panel-group .panel .panel-heading {
  border: none;
}
.panel-group .panel .panel-title {
  font-size: 1.8em;
  text-align: center;
  color: #3b426b;
}
.panel-group .panel .panel-title a {
  text-align: center;
  margin: 0 auto;
  width: 30%;
  display: relative;
}
.panel-group .panel .panel-title a:hover {
  color: green;
}
.panel-group .panel .panel-body {
  border-top: none !important;
  padding: 3em 2em;
  border: none;
  margin: 0 auto;
  width: 70%;
  max-width: 800px;
  color: #3b426b;
}
.panel-group .panel .panel-collapse {
  background-color: #cccccc;
}
footer {
  position: relative;
  bottom: 0;
  text-align: center;
  width: 100%;
}
button {
  border: none;
  -webkit-appearance: button;
  background-color: transparent;
}
button:focus {
  outline: none;
}
footer {
  background-color: red;
  position: relative;
  height: 100px;
  min-height: 100px;
  padding: 30px;
}
/*
M E T O D O LO G I A
*/
