.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#main {
  margin: 0;
  width: 100%;
  padding-top: 1.8em;
}
.panel-group.core {
  display: inline-block;
}
.collapse #accordion-addendums {
  margin-top: 2em;
  display: inline-block;
  height: 100%;
  background-color: transparent;
}
.collapse #accordion-addendums .panel {
  background-color: transparent;
  margin-top: 0;
}
.collapse #accordion-addendums .panel-heading {
  padding: 0;
  border-bottom: 2px solid #3b426b;
}
.collapse #accordion-addendums .panel-title {
  text-align: left;
}
.collapse #accordion-addendums .panel-title a {
  font-size: 0.4em;
}
.collapse #accordion-addendums .panel-title a:hover {
  color: #4d568c;
}
#addendums {
  position: absolute;
  display: inline-block;
  height: 100%;
  background-color: #fee903;
}
#addendums .panel {
  background-color: transparent;
  margin-top: 0;
}
#addendums .panel-heading {
  padding: 0;
}
#addendums .panel-collapse {
  background-color: #feed36;
}
#addendums .panel-title a {
  font-size: 0.4em;
  text-align: left;
}
