.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#main {
  margin: 0;
  width: 100%;
}
#myTab {
  height: 100%;
  list-style: none;
  background-color: red;
}
#myTab li {
  margin-top: 0;
  padding: 1.4em 2em 0 2em;
}
#myTab li a {
  color: #153978;
  background-color: transparent;
  border: none;
  cursor: default;
}
#myTab li:hover {
  background-color: #ff6666;
}
.tab-content {
  margin: 2em 0 0 15em;
  max-width: 800px;
}
