<header class="navbar navbar-default navbar-fixed-top affix-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="index.html">
        <div class="brand" >   
          <div class="navbar-brand als" href="#"><span class="Al">AL</span><span class="Smith">Smith</span> <span class="associados">y Associados</span></div>
        </div>
      </a>
      
    </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right " id="nav-links">
      <ul class="nav navbar-nav navbar-left ">
        <!-- there is a problem with the number list items it does not reflow correctly. -->
        <li class="nav-button "><a href="index.html">Inicio</a></li>
        <li class="nav-button "><a href="servicios.html">Servicios</a></li>
        <li class="nav-button"><a href="metodologia.html">Metodología</a></li>
        <li class="nav-button"><a href="ana_luz.html">Ana Luz</a></li>
        <li class="nav-button"><a href="contacto.html">Contacto</a></li>
        <li class="nav-button"><a href="english.html">English</a></li>
      </ul>
    

      </div><!--  contacto collapse -->
    </div> <!-- /.navbar-collapse -->
  </div>
</header>


