<div class="jumbotron frases hidden-xs">
  <div class="container  " >
    <div class="frase col-sm-9 col-sm-offset-2 col-md-6 col-md-offset-4" id="frase-container">
      <p class="quotes active" id="fre0"> <span class="highlight">Ningún hombre es una isla, <i class="">algo completo en si mismo;</i>
        todo hombre es un fragmento del continente. Una parte de un conjunto </span>
	      <p class="autor">  <span class="highlight autor"> John Donne </span>
	      </p>
      </p>
      <p class="quotes" id="1"> <span class="highlight">Frase Numbero 2, <i class="">algo completo en si mismo;</i>
        todo hombre es un fragmento del continente. Una parte de un conjunto </span>
	      <p class="autor">  <span class="highlight autor"> John Donne </span>
	      </p>
      </p>
      <p class="quotes" id="2"> <span class="highlight">Frase numero 3, <i class="">algo completo en si mismo;</i>
        todo hombre es un fragmento del continente. Una parte de un conjunto </span>
	      <p class="autor">  <span class="highlight autor"> John Donne </span>
	      </p>
      </p>
      <p class="quotes" id="3"> <span class="highlight">Frase numero 4, <i class="">algo completo en si mismo;</i>
        todo hombre es un fragmento del continente. Una parte de un conjunto </span>
	      <p class="autor">  <span class="highlight autor"> John Donne </span>
	      </p>
      </p>
    </div>
  </div>
</div>