<div class="jumbotron frases hidden-xs">
  <div class="container  " >
    <div class="frase col-sm-9 col-sm-offset-2 col-md-6 col-md-offset-4" id="frase-container">


      <p class="quotes" id="0">
        <span class="highlight">
          Ningún hombre es una isla, <i>algo completo en si mismo;</i>
          todo hombre es un fragmento del continente. Una parte de un conjunto 
        </span>
  	    <span class="highlight autor"> John Donne </span>
      </p>

      <p class="quotes" id="1"> 
        <span class="highlight">
          El trabajo y la lucha <br>
          llaman siempre a los mejores
        </span>
        <span class="highlight autor"> Lucio Anneo Séneca </span>
      </p>

      <p class="quotes" id="2"> 
        <span class="highlight">
          El único hombre que no se equivoca <br>
          es el que nunca hace nada. 
        </span>
        <span class="highlight autor"> Johann Wolfgang Goethe </span>
      </p>

      <p class="quotes" id="3"> 
        <span class="highlight"> 
          La llave del éxito <br>
          es el conocimiento del valor de las cosas.
        </span>
        <span class="highlight autor"> John Boyle O'Reilly </span>
      </p>


    </div>
  </div>
</div>