<div class="landing-wrapper">
		<div class="background">
		<div class="logo">
<!-- 			<div class="al">AL</div>
			<div class="smith">Smith</div>
			<div class="associados">y Associados Consultores</div> -->
			<img src="imgs/logo.jpg" alt="">
		</div> <!-- logo -->
		<div class="row">
			<div class="content col-sm-4">
				<h3 class="contacto-title"><span class="land-title">Telefonos</span></h3>
				<div class="land-line"></div>
				<p><strong>Oficina</strong> <a class="tel" href="tel:+52442281414">+(52) 442.228.1414</a></p>
				<p><strong>Celular</strong> <a class="tel" href="tel:+5214422194682">+(52) 442.219.4682</a></p>
			</div>
			<div class="content col-sm-4">
				<h3 class="contacto-title"><span class="land-title">Email</span></h3>
				<div class="land-line"></div>
				<p><strong>Ana Luz</strong>
					<a href="mailto:alsmith@alsmith.com.mx" target="_top"> alsmith@alsmith.com.mx</a>
				</p>
				<p> <strong>Curriculums</strong>
                    <a href="mailto:curriculums@alsmith.com.mx" target="_top"> curriculums@alsmith.com.mx</a>
                </p>
			</div> <!-- dir -->
<!-- 			<div class="content col-sm-4">
				<h3 class="contacto-title"><span class="land-title">Direccion</span></h3>
				<div class="land-line"></div>
				<p><span>oficina</span> <span>Colinas del Bosque 2 Secc,<br>Corregidora, Qro</span></p>
			</div>  -->
		</div>
		<div class="text-center scroll-indicator">
		<span class="glyphicon glyphicon-chevron-down "></span>
		</div>
	</div> <!-- background-->
</div> <!-- landing-wrapper -->