@import './mixins.less';
@import './vars-and-metrics.less';


.fade-in(){
    0% {opacity: 0;}
    100%{opacity: 1;}
}

.svg-anim(){
    from{
            stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
    }
    to {stroke-dasharray: 1000;
      stroke-dashoffset: 0;}

}
@-webkit-keyframes fade-in {.fade-in;}
@-moz-keyframes fade-in {.fade-in;}
@-ms-keyframes fade-in {.fade-in;}
@-o-keyframes fade-in {.fade-in;}
@keyframes fade-in {.fade-in;}
.blink(){
    0% {opacity: 0;}
    100%{opacity: 1;}
}
@-webkit-keyframes blink {.blink;}
@-moz-keyframes blink {.blink;}
@-ms-keyframes blink {.blink;}
@-o-keyframes blink {.blink;}
@keyframes blink {.blink;}


#main{
  margin: 0;//consider taking this out from the main css. 
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.intro{
  h1, h2, p{
    text-align: center;
    margin-top: 2em;
  }
  h1&{
    color: @gray;
  }
  .img{
    @size-img: 6em;
    width: @size-img;
    height: @size-img;
    margin: 0 auto;
    padding: 1em;
    background-color: @gray-light;
    .transition(all 450ms ease-in);
    .border-radius(100%);
    &:hover{
      .transition(all 1050ms ease-in);
      background-color: @yellow;
    }
    svg{
      // stroke-dasharray: 1000;
      // stroke-dashoffset: 0;
      .animation(fade-in 400ms  ease-in);
      &:hover{
      stroke-dasharray: 1500;
      stroke-dashoffset: 0;
      .transition(all 1050ms ease-in);
      }
    }
  }

}

.background-img{
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

}

header{
  opacity: 0;
  pointer-events: none;
  &.show{
    opacity: 1 ;
    pointer-events: auto;
    .container{
      opacity: 1;
    }
  }
  .container{
    opacity: 0;
    .transition(opacity 550ms ease-in)
  }
  .transition(opacity 300ms ease);
}



#landing-wrapper{
  position: relative;
  height: 800px;
  width: 100%;
  display: block;
  
  // img {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   opacity: .3;
  // }
  #tagline{
    float: left;
    clear: left;
    position: relative;
    color: @blue;
    margin: 2em 0 0 2em;
    font-size: 3em;

    @media @tablet {
    // margin-left: 1em;
    }
    @media @smartphone {
    margin-left: .7em;
    }
  }
  .background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    // opacity: .4;
    .background-img;
  }
  #content-landing{
    .animation(fade-in 2000ms 0 ease-in 1 normal);
    @height-color-split : 60%;
    @media @tablet {
      .top{
        height: 45% !important;
      }
      .info{
        @height-color-split : 45% !important;
        top: 45% !important;
      }
    }
    @media @tablet-mini{
      .top{
        height: 40% !important;
      }
      .info{
        @height-color-split : 40% !important;
        top: 40% !important;
      }
    }
    @media @smartphone {
      .top{
        height: 35% !important;
      }
      .info{
        @height-color-split : 35% !important;
        top: 35% !important;
      }
    }
      @opacity-for-landing-bg:80%;
    .top{
      position: absolute;
      background-color: fade(@white, @opacity-for-landing-bg);
      height: @height-color-split;
      width: 100%;
      img{
        @BG_WHITE: fade(@white, 70%);
        background-color: @BG_WHITE;
        .box-shadow( 0px 0px 136px 85px  @BG_WHITE);
        margin-left: 2em;
        // width: 100%;

        // @media @large {
        //   width: 20%;
        // }
        // @media @normal {
        //   width: 30%;
        // }
        // @media @tablet {
        //   width: 35%;
        // }
        // @media @smartphone {
        //   margin-left: 1em;
        //   width: 10em;
        // }
        // .radial-gradient(white, 100%, white, 0%);
      }
    }
    .row{
      margin: 0;
    }
    .info{
      position: absolute;
      bottom: 0;
      top: @height-color-split;
      display: block;
      width: 100%;
      padding: 1em 3em;
      background-color: fade(@blue, @opacity-for-landing-bg);
      color: @white;
      a{
         color: @white;
      }
      .land-line{
        background-color: white;
      }
      // background: red;
    }
    .chevron-down{
      margin: 0 auto;
      position: relative;
      width: 100%;
      color: white;
      // margin-top: 45%;
      .flex-display();
      img{
        cursor: pointer;
        margin: 0 auto;
        width: 3em;
      }
      
      .animation (blink 1800ms  0  ease infinite  alternate);
    }
  }
}

#enviar-cv{
  margin: 5em auto 4em auto;
  text-align: center;
  display: block;
  
  background-color: @blue;
  padding: 1em 2em;
  color: @white;
}

#enviar-cv-wrapper{
  display: inline-block;
  width: 100%;
}
/** si acaso usa esta parte para dar colores especificos
  **********************************/
// #accordion{
//   background-color: red;
//   width: 100%;
//   .panel{
//     box-shadow: none;
//     .panel-heading{
//       border: none;

//     }
//     .panel-title{
//       font-size: @h2;
//       text-align: center;
//       color: @blue;
//       a{
//         &:hover{
//           color: green;
//         }
//       text-align: center;
//       margin: 0 auto;
//       width: 30%;
//       display: relative;
//       }
//     }
//     .panel-body{
//       padding: 3em 2em;
//       border: none;
//       margin: 0 auto;
//       width: 70%;
//       max-width: 800px;
//       color: @blue;
//     }
//     .panel-collapse{
//       background-color: @gray;
//     }
//   }

// }



