@import './mixins.less';
@import './vars-and-metrics.less';


.fade-in(){
    0% {opacity: 0;}
    100%{opacity: 1;}
}
@-webkit-keyframes fade-in {.fade-in;}
@-moz-keyframes fade-in {.fade-in;}
@-ms-keyframes fade-in {.fade-in;}
@-o-keyframes fade-in {.fade-in;}
@keyframes fade-in {.fade-in;}
.blink(){
    0% {opacity: 0;}
    100%{opacity: 1;}
}
@-webkit-keyframes blink {.blink;}
@-moz-keyframes blink {.blink;}
@-ms-keyframes blink {.blink;}
@-o-keyframes blink {.blink;}
@keyframes blink {.blink;}


#main{
  margin: 0;//consider taking this out from the main css. 
  width: 100%;
}

#panel-wrapper{
// width: 100%;
// background-color: blue;
}
#myTab{

  // float: left;
  // height: 727px;
  height: 100%;
  // display: flex;
  justify-content: center;
  list-style: none;
  background-color: @blue;

  @media @tablet-mini {
  	  flex-wrap: wrap;
  }
  @media @smartphone {
  	  flex-wrap: wrap;
  }


	li{
		margin-top: 0;
		padding: 1.4em 2em 0 2em;
		.transition(all 300ms ease);
		@media @tablet-mini {flex-grow: 2;}
		@media @smartphone {flex-grow: 2;	}
		&.active a{
	  	color: @white;
	  	text-decoration: underline;
  	}
		a{
			color: @gray; 
			background-color: transparent; 
			border: none; 
			font-size: 1.2em;
			// border-bottom-color: transparent;
			cursor: default;
			font-weight: 600;
.transition(all 300ms ease);
		}
		&:hover{
			a{color: @yellow; }
			// background-color: lighten(@blue, 20%)
		}
	}
}
.tab-content{
	// position: absolute;
	// display: inline-block;
	margin: 2em auto;
	max-width: 600px;
	@media @tablet-mini {
	// margin: 2em 2em;
	padding: 0 3em;
	}
	@media @smartphone {
	// margin: 2em 2em;
	padding: 0 2em;
	}
}






