
/*
  _______  _______ .__   __.  _______ .______          ___       __      
 /  _____||   ____||  \ |  | |   ____||   _  \        /   \     |  |     
|  |  __  |  |__   |   \|  | |  |__   |  |_)  |      /  ^  \    |  |     
|  | |_ | |   __|  |  . `  | |   __|  |      /      /  /_\  \   |  |     
|  |__| | |  |____ |  |\   | |  |____ |  |\  \----./  _____  \  |  `----.
 \______| |_______||__| \__| |_______|| _| `._____/__/     \__\ |_______|
                                                                         
*/


.*{
	margin: 0;
	padding: 0;
}
/*
font-family: 'Josefin Slab', serif;
font-family: 'Alegreya Sans', sans-serif;
*/
body{
	font-family: 'Source Sans Pro', sans-serif;
}

a{
	text-decoration: none;
}
a:hover{
	color: gray;
}
/*Esta parte es del header nadamas
 __ __    ___   ____  ___      ___  ____  
|  |  |  /  _] /    ||   \    /  _]|    \ 
|  |  | /  [_ |  o  ||    \  /  [_ |  D  )
|  _  ||    _]|     ||  D  ||    _]|    / 
|  |  ||   [_ |  _  ||     ||   [_ |    \ 
|  |  ||     ||  |  ||     ||     ||  .  \
|__|__||_____||__|__||_____||_____||__|\_|
                                          
*/
header{

    background-color:rgb(250, 209, 209);
}

@media (max-width: 768px){
  header{
    background-color:whitesmoke;
  }
}
@media (min-width: 768px){
  header{
      background-color:whitesmoke;
  }
  .brand{
  }
  .navbar-brand{

  }
}


header img{
  
}
header ul{

}
	/*controla la casilla del texto*/
.nav-button{

}
.nav-button:hover{
}
header ul li{
	

}
header ul li a{
	

}

/*Contacto
                  _             _        
                 | |           | |       
   ___ ___  _ __ | |_ __ _  ___| |_ ___  
  / __/ _ \| '_ \| __/ _` |/ __| __/ _ \ 
 | (_| (_) | | | | || (_| | (__| || (_) |
  \___\___/|_| |_|\__\__,_|\___|\__\___/ 
                                         
                                         
*/

#contact-info{
	
}
#contact-info:hover{

}

#contact-info ul{

}
#contact-info div{
	
}
#contact-info img{
	
}
#contact-info article{
	
}
#contact-info article p{

}

/*esta parte es del cuerpo

$$\      $$\           $$\           
$$$\    $$$ |          \__|          
$$$$\  $$$$ | $$$$$$\  $$\ $$$$$$$\  
$$\$$\$$ $$ | \____$$\ $$ |$$  __$$\ 
$$ \$$$  $$ | $$$$$$$ |$$ |$$ |  $$ |
$$ |\$  /$$ |$$  __$$ |$$ |$$ |  $$ |
$$ | \_/ $$ |\$$$$$$$ |$$ |$$ |  $$ |
\__|     \__| \_______|\__|\__|  \__|
                                     
                                     


*/
main{

}

.img-central{

}
.nav-topics{
 
}
.nav-topics li:hover{

}

.nav-topics li a{

}
.nav-topics li a:hover{
	
}

.contenido-wraper{

}

.contenido{

}

.contenido:last-child{
	
}

.frases{

}
.frases i{
	
}

	
/*
      _ _     _        __ 
     | (_)   | |      /_ |
  ___| |_  __| | ___   | |
 / __| | |/ _` |/ _ \  | |
 \__ \ | | (_| |  __/  | |
 |___/_|_|\__,_|\___|  |_|
                          
                          
*/

#slide-1{
background-color: blue;
}


/*
      _ _     _        ___  
     | (_)   | |      |__ \ 
  ___| |_  __| | ___     ) |
 / __| | |/ _` |/ _ \   / / 
 \__ \ | | (_| |  __/  / /_ 
 |___/_|_|\__,_|\___| |____|
                            
                            
*/
#slide-2{
background-color: orange;
}
/*
      _ _     _        ____  
     | (_)   | |      |___ \ 
  ___| |_  __| | ___    __) |
 / __| | |/ _` |/ _ \  |__ < 
 \__ \ | | (_| |  __/  ___) |
 |___/_|_|\__,_|\___| |____/ 
                             
                             
*/
#slide-3{
background-color: green;
}
/*
      _ _     _        _  _   
     | (_)   | |      | || |  
  ___| |_  __| | ___  | || |_ 
 / __| | |/ _` |/ _ \ |__   _|
 \__ \ | | (_| |  __/    | |  
 |___/_|_|\__,_|\___|    |_|  
                              
                              
*/

#slide-4{
background-color: pink;
}
