





//the rest

.landing-wrapper{
  position: absolute;
  width: 100%;
  height: 900px;
  background-color: rgb(255,255,255);
  z-index: 10000;
  color: rgb(56, 46, 114);
  top: 0;
  
}
.landing-wrapper .background{
    margin: 0px 50px 20px 50px;
    opacity: 0;

}
.logo{
  padding: 20% 0px 0px 0px;
}
.contacto-title{
  padding-top: 20px;
  font-family: 'Alegreya Sans', sans-serif;
}
.content{

  font-family: 'Josefin Slab', serif;
}
.content p{
  margin-left: 3%;
  margin-top: 20px;
}
.land-line{
  height: 2px;
  background-color: rgb(26,26,26); 
}
/* SCROLL INDICATOR
***********************************************************/
.scroll-indicator{
  margin-top: 10%;
  position: relative;

  -webkit-animation: fade-in-out 1s alternate infinite ease-in-out;
     -moz-animation: fade-in-out 1s alternate infinite ease-in-out;
       -o-animation: fade-in-out 1s alternate infinite ease-in-out;
          animation: fade-in-out 1s alternate infinite ease-in-out;
}
@-webkit-keyframes fade-in-out {0%{ opacity: 0; } 100% { opacity: 1; }}
   @-moz-keyframes fade-in-out {0%{ opacity: 0; } 100% { opacity: 1; }}
     @-o-keyframes fade-in-out {0%{ opacity: 0; } 100% { opacity: 1; }}
        @keyframes fade-in-out {0%{ opacity: 0; } 100% { opacity: 1; }}
/*
  _______  _______ .__   __.  _______ .______          ___       __      
 /  _____||   ____||  \ |  | |   ____||   _  \        /   \     |  |     
|  |  __  |  |__   |   \|  | |  |__   |  |_)  |      /  ^  \    |  |     
|  | |_ | |   __|  |  . `  | |   __|  |      /      /  /_\  \   |  |     
|  |__| | |  |____ |  |\   | |  |____ |  |\  \----./  _____  \  |  `----.
 \______| |_______||__| \__| |_______|| _| `._____/__/     \__\ |_______|
                                                                         
*/


*{
	margin: 0;
	padding: 0;
}
/*
font-family: 'Josefin Slab', serif;
font-family: 'Alegreya Sans', sans-serif;
*/
body{
  position: relative;
font-family: 'Alegreya Sans', sans-serif !important;

}

a{
	text-decoration: none;
}
a:hover{
	color: gray;
}
/*Esta parte es del header nadamas
 __ __    ___   ____  ___      ___  ____  
|  |  |  /  _] /    ||   \    /  _]|    \ 
|  |  | /  [_ |  o  ||    \  /  [_ |  D  )
|  _  ||    _]|     ||  D  ||    _]|    / 
|  |  ||   [_ |  _  ||     ||   [_ |    \ 
|  |  ||     ||  |  ||     ||     ||  .  \
|__|__||_____||__|__||_____||_____||__|\_|
                                          
*/
header{
  font-family: 'Josefin Slab', serif;
  font-size: 18px;
  background-color: white !important;
}
.als{
  font-family: 'Alegreya Sans', sans-serif !important;
}
.Al{

  font-weight: 900;
  font-size: 40px;
  font-style: italic;
  color: rgb(209,209,209);

}
.brand{
  position: relative;

}
.Smith{
  position: relative;
  font-weight: 900;
  font-size: 25px;
  top: -6px;
  margin-left: -37px;
  padding-bottom: -11px;
  color: rgb(56, 46, 114);

}
.associados{
    position: relative;
     margin-left: -35px;
  font-weight: 400;
  font-size: 8px;
  font-style: italic;
  color: rgb(180,180,180);
}



.contacto-body{
position: fixed;
width: 100%;
background-color: rgba(255,255,255,0.985);
height: auto;
left: 0;
margin-top: -10px;
top: 93px;
border-bottom: 1px solid whitesmoke;
}

@media (min-width: 768px){
  header{

     height: 83px;
  }
  #nav-links{
    margin: 40px 0px 0px 0px;
  }

  .brand{
    background-image: url("../imgs/logo.jpg");
    background-position: 50% 50%;
    width: 259px;
    height: 110px;
    top: -13px;
    position: relative;
    -ms-transform: scale(0.6 , 0.6);
    -webkit-transform: scale(0.6 , 0.6);
    transform: scale(0.6 , 0.6);
  }
  .navbar-brand{
    opacity: 0;
  }
}

//////////////////////////////////////////////////////////////////////////////////////
/* VARIABLES
*******************************************/
$light_gray: rgb(200,200,200);
$nav_hover: rgb(230,230,230);
$nav_text_hover: rgb(80,80,80);

$als-blue: rgb(56, 46, 114);
$als-gray: rgb(255,255,255);
$als-gray-dark: rgb(255,255,255);


/* MIXINS
*******************************************/
@mixin simple_transition($what, $time, $type) {
    -webkit-transition: $what $time $type;
       -moz-transition: $what $time $type;
         -o-transition: $what $time $type;
            transition: $what $time $type;
}

/*
$$\      $$\           $$\           
$$$\    $$$ |          \__|          
$$$$\  $$$$ | $$$$$$\  $$\ $$$$$$$\  
$$\$$\$$ $$ | \____$$\ $$ |$$  __$$\ 
$$ \$$$  $$ | $$$$$$$ |$$ |$$ |  $$ |
$$ |\$  /$$ |$$  __$$ |$$ |$$ |  $$ |
$$ | \_/ $$ |\$$$$$$$ |$$ |$$ |  $$ |
\__|     \__| \_______|\__|\__|  \__|
*/
.nav{
  font-family: 'Josefin Slab', serif;
}

#side-nav{
  position: fixed;
  top: 240px;
  left:8%;
  z-index: 700;
  background-color: white;
  border: 1px $light_gray solid;
  a{
  display: block;
  border: 1px $light_gray solid;
  border-left: none;
  border-right: none;
  border-bottom: none;

  padding: 12px 20px;
  &:target{
    border-bottom: 1px $light_gray solid;
  }
    &:not(:last-child){
      // border-bottom: none;
    }
    &:hover{
      background: $nav_hover;
      color: $nav_text_hover;
    }
  @include simple_transition(all, 200ms, ease-in-out);
  }
  @include simple_transition(all, 400ms, ease-in-out);
}
.descropcion-wrapper{
  // margin-top: 200px;
}
.contenido{
  background-color: white;
  position: relative;
  &:not(:first-child){
    // margin-top: 200px;
  }
  &:last-child{
    margin-bottom: 20%;
  }
  .texto{
    position: relative;
    left: 30%;
    height: auto;
    padding: 30px 10px;
    max-width: 800px;
    width: 60%;
  }
}

.quotes{
  &:first-child{
    // display: block;
  }
  &.activeQ{
    display: block;
    opacity: 1;

  }
    position: fixed;
    // z-index: 10000;
    // background-color: red;
    top:150px;
    max-width: 600px;
    display: block;
    opacity: 0;
      @include simple-transition(opacity, 1s, ease-in-out);
      .highlight{
        background-color: rgba(250,250,250, .8) ;  
        min-height: 90px;
        padding: 3px 0px 3px 10px;
      }
    
  }


.container-fluid{
  padding: 0;
}
h2{
  font-size: 46px;
  margin-left: -100px;
  padding-bottom: .7em;
  width: 100%;
}
h3{
  font-size: 36px;
}
.bg-img{
  background: green;
  width: 100%;
  height: 200px;
}
// maybe useful
hr{
  height: 1px;
  background-color: #333;
  border:1px;
}
.line-divider{
  height: 1px;
  background-color:rgba(36,36,36,.5);
  border:1px;
  width: 100%;
  margin: 80px 0px ; 
  display: inline-block;
}


#inicio{
  .bg-img{
    background:transparent url("../imgs/img_central.jpg") left top;
    background-position: 50% 50%;
    background-size: cover;
  }
}
.cuartilla{
-webkit-box-shadow: -5px 4px 50px -5px rgba(0, 0, 0, 0.08);
-moz-box-shadow: -5px 4px 50px -5px rgba(0, 0, 0, 0.08);
box-shadow: -5px 4px 50px -5px rgba(0, 0, 0, 0.08);
margin-top: 50px;
  border: 1px solid gray;
  width: 60%;
  height: 95%;
  padding: 30px 30px 30px 50px
}
#info-contacto{
  margin: 50px 5%;
}
#politica-privacidad{
margin: 150px 5% 50px 5%;
color: rgb(100,100,100);
  h3{
    text-align: center;
  }
}
#ana-luz{
  margin: 100px 10% 10% 20%;
  max-width: 800px;
}
/*                        Servicios
*******************************************/
#servicios{
  overflow-x:hidden;
  #side-nav{
    width: 250px;
    .panel{
      box-shadow: none;
      padding: 0;
      margin: 0;
    }
    ul{
      list-style: none;
      li{
        a{
          margin-left: 10px;
          border: none;
        }
      }
    }
  }

  .contenido{
   .texto{
      left: 35%;
    }
  }

}

/*                        moetodologia
*******************************************/
#metodologia{
  .texto{
    left: 15%;
    max-width: 500px;
  }
  #adendums{
    position: absolute;
    background-color: white;

    width: auto;
    max-width: 500px;
    min-width: 380px;
    float: right;
    right: 5%;
    z-index: 10;
  }

}
.smallscreens{
  display: none;
}
/* MEDIA QUERRY
*******************************************/


/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen 
and (max-width : 1224px) {
  .contenido .texto{
    left: 35% ;
  }
  #metodologia .contenido .texto{
    left: 8% ;
    width: 40%;
    h2{
      margin-left: -50px;
    }
  }
  #metodologia #adendums{
    width: 40%;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen 
and (max-width : 1024px) {
  #side-nav{
    left:0 ;
  }
  #metodologia .contenido .texto{
  left: 5% ;
  // width: 35%;
  h2{
    margin-left: -25px;
  }
  }
}
@media only screen 
and (max-width : 768px) {
  .contenido .texto{
    left: 35% ;
  }
  h2{
    margin-left: -50px;
  }
  #metodologia {
    .contenido .texto{
        width: 65%;
    }

    #adendums{
      // -webkit-transform: translate(80%,0);
      display: inline-block;
      float: initial;
      right: initial;
      &:hover{
        // -webkit-transform: translate(0%,0);
        // .contenido .texto{
        //   -webkit-transform: translate(-50%,0);
        // }
      }
    }
  }
}
/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}
/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
  #side-nav{
    -webkit-transform: translate(-95%,0);
    &:hover{
      -webkit-transform: translate(0,0);
    }
   &:after{
    position: absolute;
    height: 182px;
    top: 0;
    background-color: transparent;
    right: 0;
    margin-right: -9px;
    border-right: none;
    border-left:  8px solid $als-blue;
    border-top:   8px solid transparent;
    border-bottom:8px solid transparent;
   }
  }
  .contenido .texto{
    left: 15% ;
    width: 75% ;
  }
}

//////////////////////////////////////////////////////////////////////////////////////

.jumbotron{
  padding-top: 95px !important;
  // background-image: url("../../imgs/img_central.jpg");
  background:transparent;
  background-position: 50% 50%;
  background-size: cover;
}

.jumbotron{
  position: fixed;
  width: 100%;
  /*z-index: 10;*/
  height: 200px;
  
  



}

